.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.paginationBttns a {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgba(19, 27, 99, 0.6);
  color: rgba(235, 225, 225, 0.8);
  cursor: pointer;
}

.paginationBttns a:hover {
  background-color: rgba(19, 27, 99, 0.6);
}

.paginationActive a {
  background-color: rgba(19, 27, 99, 0.6);
}

.paginationDisabled a {
  color: rgba(5, 19, 83, 0.87);
  background-color: rgba(19, 27, 99, 0.6);
}
